$white: #FFFFFF;
$bgc: #F2F2F2;
$primary: #1890FF;
$success: #52c41a;
$warn: #fa8c16;
$danger: #FF4D4F;
$describe: #8C8C8C;
$lightGray: #d9d9d9;
$hoverBgc: #dddddd;
$black: #101010;
$disable: #5cdbd3;
$font: Noto Sans SC